.dx-loadindicator {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    z-index: 100;
}

// .dx-texteditor.dx-editor-outlined.dx-state-focused {
//   box-shadow: none !important;
// }

// .dx-editor-outlined.dx-texteditor-with-floating-label.dx-lookup-empty,
// .dx-editor-outlined.dx-texteditor-with-floating-label.dx-texteditor-empty {
//   box-shadow: none !important;
// }

// .dx-toolbar-button.dx-toolbar-text-auto-hide .dx-button-has-icon.dx-button-has-text {
//   border: 1px solid lightgray;
// }

// .dx-datagrid-export-button {
//     border: 1px solid lightgray !important;
//     border-radius: 4px;
// }

.dx-texteditor.dx-editor-filled::after,
.dx-texteditor::before {
    display: none;
}

.dx-texteditor {
    // border: 1px solid lightgray !important;
    border-radius: 4px;
}

.dx-texteditor-input {
    padding-bottom: 9px !important;
}
