:root {
    --color-one: lightgray;
}

.actions-header {
    margin-bottom: 16px;

    .actions-filter{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 16px;
    }

    .actions-buttons{
        display: flex;
        flex-wrap: wrap;
    }

    & .dx-field {
        width: 150px;
        margin-right: 16px;
    }

    & .dx-button {
        width: 200px;
        margin-right: 16px;
    }
}
