:root {
    --color-one: lightgray;
}

.actions-header {
    display: flex;
    margin-bottom: 16px;

    & .dx-field {
        width: 250px;
        margin-right: 16px;
    }
    .dx-button {
        margin-right: 16px;
    }
}
